/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1440px;


// xx Large desktops
$screen-xxl-min: 1440px;


// Colors
// $white: #fff;
// $black: #000;

:root{
    --dark-gray: #333333;
    --light-gray: #EBEBEB;
    --eggplant: #2E2885;
    --tulip: #5012B5;
    --lavendar: #DCD6F7;
    --black: black;
    --white: white;
    --deep-iris: #560A93;
    --punchy: #7708CF;
    --wow-pink: #F61067;
    --deep-space: #350659;
    --blueberry: #A6B1E1;
    --poke: #7B62CB;
   
}
