.cal-button2 {
    ul {
        li {
            button {
                background-color: var(--punchy);
                color: var(--white);
                padding: 16px 72px 16px 72px;

                @include lg {
                    padding: 16px 36px 16px 36px;
                    font-size: rem-calc(14);
                }
            }

        }
    }

}

.mega-calendar2 {
    grid-area: baby-calendar2;
    margin-top: 36px;
    grid-area: mega-calendar2;
    font-size: rem-calc(18);
   

    div {

        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        padding-right: 8px;
        border: 8px solid var(--tulip);
        border-radius: 50px;
        box-sizing: border-box;
    }

    @include md {
        margin-left: 48px;
        margin-right: 48px;
    }

    @include lg {
        border: none;
        margin: 0px;
        margin-left: 24px;
    }


    button {
        background-color: var(--white);
        color: var(--dark-gray);
        border: none;

        padding: 8px;
        cursor: pointer;
        transition: .25s;

        @include md{
            padding: 16px;
        }

        &:hover {
            background-color: var(--tulip);
            color: var(--white);
            border-radius: 50px;
        }
    }

    ul {
        text-align: center;
        margin-top: 36px;
        margin-bottom: 36px;
        display: grid;
        grid-template-columns: 12px 14% 14% 14% 14% 14% 14% 14% 12px;
        grid-template-areas:
            ". l-but .  month month month . r-but ."
            ". sun mon tue wed thur fri sat ."
            ". c1 c2 c3 c4 c5 c6 c7 ."
            ". c8 c9 c10 c11 c12 c13 c14 ."
            ". c15 c16 c17 c18 c19 c20 c21 ."
            ". c22 c23 c24 c25 c26 c27 c28 ."
            ". c29 c30 c31 . . . . .";

        @include lg {
            margin: 36px;
            font-size: rem-calc(18);

        }

        // @include xxl {
        //     padding: 24px 124px 24px 124px;
        // }
    }
}
    








.l-but {

    grid-area: l-but;

@include xxl{
    margin-right: 72px;
}

}

.r-but {

    grid-area: r-but;
    @include xxl{
        margin-right: 72px;
    }

}

.month {

    grid-area: month;
    font-size: rem-calc(24);

    @include xxl{
        margin: 0px 72px 0px 72px;
    }

}

.sun {

    grid-area: sun;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.mon {

    grid-area: mon;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.tue {

    grid-area: tue;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.wed {

    grid-area: wed;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.thur {

    grid-area: thur;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.fri {

    grid-area: fri;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.sat {

    grid-area: sat;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


.c1 {
    grid-area: c1;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c2 {
    grid-area: c2;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c3 {
    grid-area: c3;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c4 {
    grid-area: c4;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c5 {
    grid-area: c5;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c6 {
    grid-area: c6;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c7 {
    grid-area: c7;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c8 {
    grid-area: c8;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c9 {
    grid-area: c9;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c10 {
    grid-area: c10;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c11 {
    grid-area: c11;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c12 {
    grid-area: c12;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c13 {
    grid-area: c13;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c14 {
    grid-area: c14;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c15 {
    grid-area: c15;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c16 {
    grid-area: c16;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c17 {
    grid-area: c17;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c18 {
    grid-area: c18;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c19 {
    grid-area: c19;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c20 {
    grid-area: c20;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c21 {
    grid-area: c21;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c22 {
    grid-area: c22;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c23 {
    grid-area: c23;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c24 {
    grid-area: c24;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c25 {
    grid-area: c25;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c26 {
    grid-area: c26;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c27 {
    grid-area: c27;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c28 {
    grid-area: c28;

    @include lg {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.c29 {
    grid-area: c29;

    @include lg {
        padding-top: 12px;
        padding-bottom: 24px;
    }
}

.c30 {
    grid-area: c30;

    @include lg {
        padding-top: 12px;
        padding-bottom: 24px;
    }
}

.c31 {
    grid-area: c31;

    @include lg {
        padding-top: 12px;
        padding-bottom: 24px;
    }
}



.headline-fixer2 {
    margin-top: 124px;
    text-align: center;
    color: var(--eggplant);
    font-size: rem-calc(36);

    @include lg {
        text-align: left;
        margin-left: 10%;
    }
}

#home-calendar2 {


    @include md {
        grid-template-columns: 16px 10% auto 10% 16px;
        grid-template-areas:
            ". . baby-calendar . .";
    }

    @include lg {
        display: grid;

    }

    @include xxl{
       justify-content: center;
       align-items: flex-start;
    }
}

#filters{
    grid-area: filt;
    margin-top: 24px;
    margin-bottom: 24px;

    h4{
margin-left: 10%;
font-size: rem-calc(22);
color: var(--poke);

@include md{
    margin-left: 20%;
}
@include lg{
    margin-bottom: 8px;
}


    }

form{
    
    ul{
        
        display: grid;
        grid-template-columns: 16px auto auto auto 16px;
        grid-template-areas: 
        ". f1 f2 f3 ."
        ". f4 f5 f6 ."
        ". f7 f8 f9 ."
        ". f10 f11 f12 ."
        ". f13 f14 f15 ."
        ". f16 f17 f18 ."
        ". f19 f20 . .";

       justify-items: left;

       @include md{
           grid-template-columns: 20% auto auto auto 20%;
       }

       @include lg{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
        ". f1 ."
        ". f2 ."
        ". f3 ."
        ". f4 ."
        ". f5 ."
        ". f6 ."
        ". f7 ."
        ". f8 ."
        ". f9 ."
        ". f10 ."
        ". f11 ."
        ". f12 ."
        ". f13 ."
        ". f14 ."
        ". f15 ."
        ". f16 ."
        ". f17 ."
        ". f18 ."
        ". f19 ."
        ". f20 .";
        

       justify-items: left;
       }
    }
}

input[type=checkbox]{
    margin: 16px 0px 16px 0px;
    background-color: var(--blueberry);
    height: 36px;
  width: 36px;
border-color: var(--blueberry);

@include lg{
    height: 16px;
    width: 16px;
}
}
   
}

.style-box{
    div{
        border-radius: 5px;
        width: 36px;
        height: 36px;
    }
    
}


.fancy{
    li{
        input{
            align-items: center;
            justify-content: center;
        }
    }
    
}
.big-flex{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    >h3{
        font-size: rem-calc(14);
        color: var(--eggplant);
        font-weight: 400;
    }
}

.f1{
    grid-area: f1;
}
.f2{
    grid-area: f2;
}
.f3{
    grid-area: f3;
}
.f4{
    grid-area: f4;
}
.f5{
    grid-area: f5;
}
.f6{
    grid-area: f6;
}
.f7{
    grid-area: f7;
}
.f8{
    grid-area: f8;
}
.f9{
    grid-area: f9;
}
.f10{
    grid-area: f10;
}
.f11{
    grid-area: f11;
}
.f12{
    grid-area: f12;
}
.f13{
    grid-area: f13;
}
.f14{
    grid-area: f14;
}
.f15{
    grid-area: f15;
}
.f16{
    grid-area: f16;
}
.f17{
    grid-area: f17;
}
.f18{
    grid-area: f18;
}
.f19{
    grid-area: f19;
}
.f20{
    grid-area: f20;
}

.crazy-cal1{
    @include lg{
        margin: 16px 16px 16px 16px;
        display: grid;
        grid-template-columns: 16px 20% 36px 70% 16px;
        grid-template-areas: 
        ". filt move-cal ."
        ". filt move-cal .";

        .filt{
            grid-area: filt;
        }

        .move-cal{
            grid-area: move-cal;
        }
    }
   
}
