.cal-button2 {
    ul {
        li {
            button {
                background-color: var(--punchy);
                color: var(--white);
                padding: 16px 72px 16px 72px;

                @include lg {
                    padding: 16px 36px 16px 36px;
                    font-size: rem-calc(14);
                }
            }

        }
    }

}

.mega-calendar2 {
    grid-area: baby-calendar2;
    margin-top: 36px;
    grid-area: mega-calendar2;
    font-size: rem-calc(18);

    @include lg{
        font-size: rem-calc(72);
    }
   

    div {

        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        padding-right: 8px;
        border: 8px solid var(--tulip);
        border-radius: 50px;
        box-sizing: border-box;
    }

    @include md {
        margin-left: 48px;
        margin-right: 48px;
    }

    @include lg {
        border: none;
        margin: 0px;
        margin-left: 24px;
        
    }


    button {
        background-color: var(--white);
        color: var(--dark-gray);
        border: none;

        padding: 8px;
        cursor: pointer;
        transition: .25s;

        @include md{
            padding: 16px;
        }

        @include lg{
            font-size: rem-calc(22);
        }

        &:hover {
            background-color: var(--tulip);
            color: var(--white);
            border-radius: 50px;
        }
    }

    ul {
        text-align: center;
        margin-top: 36px;
        margin-bottom: 36px;
        display: grid;
        grid-template-columns: 12px 14% 14% 14% 14% 14% 14% 14% 12px;
        grid-template-areas:
            ". l-but-2 .  month-2 month-2 month-2 . r-but-2 ."
            ". sun-2 mon-2 tue-2 wed-2 thur-2 fri-2 sat-2 ."
            ". c1-2 c2-2 c3-2 c4-2 c5-2 c6-2 c7-2 ."
            ". c8-2 c9-2 c10-2 c11-2 c12-2 c13-2 c14-2 ."
            ". c15-2 c16-2 c17-2 c18-2 c19-2 c20-2 c21-2 ."
            ". c22-2 c23-2 c24-2 c25-2 c26-2 c27-2 c28-2 ."
            ". c29-2 c30-2 c31-2 . . . . .";

        @include lg {
            margin: 36px;
            font-size: rem-calc(18);

        }

        // @include xxl {
        //     padding: 24px 124px 24px 124px;
        // }
    }
}
    








.l-but-2 {

    grid-area: l-but-2;

@include xxl{
    margin-right: 72px;
}

}

.r-but-2 {

    grid-area: r-but-2;
    @include xxl{
        margin-right: 72px;
    }

}

.month-2 {

    grid-area: month-2;
    font-size: rem-calc(24);

    @include xxl{
        margin: 0px 72px 0px 72px;
    }

}

.sun-2 {

    grid-area: sun-2;

    @include lg {
        padding-top: 36px;
       
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
       
        padding-right: 48px;
    }
}


.mon-2 {

    grid-area: mon-2;

    @include lg {
        padding-top: 36px;
       
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        
        padding-right: 48px;
    }
}


.tue-2 {

    grid-area: tue-2;

    @include lg {
        padding-top: 36px;
        
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
       
        padding-right: 48px;
    }
}


.wed-2 {

    grid-area: wed-2;

    @include lg {
        padding-top: 36px;
       
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
       
        padding-right: 48px;
    }
}


.thur-2 {

    grid-area: thur-2;

    @include lg {
        padding-top: 36px;
      
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
       
        padding-right: 48px;
    }
}


.fri-2 {

    grid-area: fri-2;

    @include lg {
        padding-top: 36px;
      
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        
        padding-right: 48px;
    }
}


.sat-2 {

    grid-area: sat-2;

    @include lg {
        padding-top: 36px;
    
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
       
        padding-right: 48px;
    }
}


.c1-2 {
    grid-area: c1-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c2-2 {
    grid-area: c2-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c3-2 {
    grid-area: c3-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c4-2 {
    grid-area: c4-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c5-2 {
    grid-area: c5-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c6-2 {
    grid-area: c6-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c7-2 {
    grid-area: c7-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c8-2 {
    grid-area: c8-2;
    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c9-2 {
    grid-area: c9-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c10-2 {
    grid-area: c10-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c11-2 {
    grid-area: c11-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c12-2 {
    grid-area: c12-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c13-2 {
    grid-area: c13-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c14-2 {
    grid-area: c14-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c15-2 {
    grid-area: c15-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c16-2 {
    grid-area: c16-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c17-2 {
    grid-area: c17-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c18-2 {
    grid-area: c18-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c19-2 {
    grid-area: c19-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c20-2 {
    grid-area: c20-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c21-2 {
    grid-area: c21-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c22-2 {
    grid-area: c22-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c23-2 {
    grid-area: c23-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c24-2 {
    grid-area: c24-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
}
@include xxl{
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
}

}
.c25-2 {
    grid-area: c25-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c26-2 {
    grid-area: c26-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c27-2 {
    grid-area: c27-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c28-2 {
    grid-area: c28-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c29-2 {
    grid-area: c29-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c30-2 {
    grid-area: c30-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }
    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}

.c31-2 {
    grid-area: c31-2;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-right: 36px;
    }

    @include xxl{
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 48px;
    }
}



.headline-fixer2 {
    margin-top: 124px;
    text-align: center;
    color: var(--eggplant);
    font-size: rem-calc(36);

    @include lg {
        text-align: left;
        margin-left: 10%;
    }
}

#home-calendar2 {


    @include md {
        grid-template-columns: 16px 10% auto 10% 16px;
        grid-template-areas:
            ". . baby-calendar . .";
    }

    @include lg {
        display: grid;

    }

    @include xxl{
       justify-content: center;
       align-items: flex-start;
    }
}

#filters{
    grid-area: filt;
    margin-top: 24px;
    margin-bottom: 24px;

    h4{
margin-left: 10%;
font-size: rem-calc(22);
color: var(--poke);

@include md{
    margin-left: 20%;
}
@include lg{
    margin-bottom: 8px;
}

@include xxl{
    margin-left: 30%;
    font-size: rem-cal(36);
}

}


    }

form{
    
    ul{
        
        display: grid;
        grid-template-columns: 16px auto auto auto 16px;
        grid-template-areas: 
        ". f1 f2 f3 ."
        ". f4 f5 f6 ."
        ". f7 f8 f9 ."
        ". f10 f11 f12 ."
        ". f13 f14 f15 ."
        ". f16 f17 f18 ."
        ". f19 f20 . .";

       justify-items: left;

       @include md{
           grid-template-columns: 20% auto auto auto 20%;
       }

       @include lg{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
        ". f1 ."
        ". f2 ."
        ". f3 ."
        ". f4 ."
        ". f5 ."
        ". f6 ."
        ". f7 ."
        ". f8 ."
        ". f9 ."
        ". f10 ."
        ". f11 ."
        ". f12 ."
        ". f13 ."
        ". f14 ."
        ". f15 ."
        ". f16 ."
        ". f17 ."
        ". f18 ."
        ". f19 ."
        ". f20 .";
        

       justify-items: left;
       }
      
       @include xxl{
        display: grid;
        grid-template-columns: 0px auto 20% auto 16px;
        grid-template-areas: 
        ". f1 f1 f2 ."
        ". f3 . f4 f4"
        ". f5 . f6 ."
        ". f7 . f8 ."
        ". f9 . f10 ."
        ". f11 . f12 ."
        ". f13 . f14 ."
        ". f15 . f16 ."
        ". f17 . f18 ."
        ". f19 . f20 .";
        
margin-left: 30%;
width: fit-content;
       justify-items: left;
       }
    }
}

input[type=checkbox]{
    margin: 16px 0px 16px 0px;
    background-color: var(--blueberry);
    height: 36px;
  width: 36px;
border-color: var(--blueberry);

@include lg{
    height: 16px;
    width: 16px;
}

@include xxl{
    height: 28px;
    width: 28px;
}
}
   


.style-box{
    div{
        border-radius: 5px;
        width: 36px;
        height: 36px;
    }
    
}


// .fancy{
//     li{
//         input{
//             align-items: center;
//             justify-content: center;
//         }
//     }
    

.big-flex{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    >h3{
        font-size: rem-calc(14);
        color: var(--eggplant);
        font-weight: 400;

        @include lg{
            width: fit-content;
            font-size: rem-calc(18);
        }
    }
}

.f1{
    grid-area: f1;
    width: fit-content;
}
.f2{
    grid-area: f2;
}
.f3{
    grid-area: f3;
}
.f4{
    grid-area: f4;
    width: fit-content;
}
.f5{
    grid-area: f5;
}
.f6{
    grid-area: f6;
}
.f7{
    grid-area: f7;
}
.f8{
    grid-area: f8;
}
.f9{
    grid-area: f9;
}
.f10{
    grid-area: f10;
}
.f11{
    grid-area: f11;
}
.f12{
    grid-area: f12;
}
.f13{
    grid-area: f13;
}
.f14{
    grid-area: f14;
}
.f15{
    grid-area: f15;
}
.f16{
    grid-area: f16;
}
.f17{
    grid-area: f17;
}
.f18{
    grid-area: f18;
}
.f19{
    grid-area: f19;
}
.f20{
    grid-area: f20;
}

.crazy-cal1{
    
    @include lg{
        margin: 16px 16px 16px 16px;
        display: grid;
        grid-template-columns: 16px 20% 36px 70% 16px;
        grid-template-areas: 
        ". filt move-cal ."
        ". filt move-cal .";
        .filt{
            grid-area: filt;
        }

        .move-cal{
            grid-area: move-cal;
        }
       
    }

    @include xxl{
        margin: 16px 16px 16px 16px;
        display: grid;
        grid-template-columns: 16px 20% 16px 70% 16px;
        grid-template-areas: 
        ". filt . move-cal ."
        ". filt . move-cal .";
        .filt{
            grid-area: filt;
        }

        .move-cal{
            grid-area: move-cal;
        }
       
    }
   
}
