#details{
    h2{
        margin: 72px 0px 36px 24px;
        color: var(--deep-space);
        font-size: rem-calc(36);

    }

    h5{
   margin: 8px 24px 16px 24px;
   text-align: center;
   color: var(--poke);
   font-weight: 200;
    }
}
    
#map{
    margin: 0px 16px 0px 16px;
}

.pink-but{
    button{
        background-color: var(--wow-pink);
    }
}