.cal-button{
ul{
    li{
       button{
        background-color: var(--punchy);
        color: var(--white);
        padding: 16px 72px 16px 72px;
       }   
       
    }
}
       
        }

.mega-calendar{
    border: 5px;
    border-color: var(--tulip);

button{
    background-color: var(--white);
color: var(--dark-gray);
border: none;
    padding: 16px;
    cursor: pointer;
    transition: .25s;

    &:hover{
      background-color: var(--tulip);
      color: var(--white);
      border-radius: 50px;
    }
}

    ul{
        margin-top: 36px;
        margin-bottom: 36px;
        display: grid;
        grid-template-columns: 16px 14% 14% 14% 14% 14% 14% 14% 16px;
        grid-template-areas: 
        ". l-but .  month month month . r-but ."
        ". sun mon tue wed thur fri sat ."
        ". c1 c2 c3 c4 c5 c6 c7 ."
        ". c8 c9 c10 c11 c12 c13 c14 ."
        ". c15 c16 c17 c18 c19 c20 c21 ."
        ". c22 c23 c24 c25 c26 c27 c28 ."
        ". c29 c30 c31 . . . . .";
    }
      
    }
       
    
    


.l-but{
 
        grid-area: l-but;
    
  
}
   
.r-but{
  
      grid-area: r-but;
   
}
.month{

    grid-area: month;
 
        

   
}
.sun{
    
        grid-area: sun;
    }
    

.mon{
    
        grid-area: mon;
    }
    

.tue{
    
        grid-area: tue;
    }
    

.wed{
    
        grid-area: wed;
    }
    

.thur{
    
        grid-area: thur;
    }
    

.fri{
    
        grid-area: fri;
    }
    

.sat{
    
        grid-area: sat;
    }
    

.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c3;
}
.c4{
    grid-area: c4;
}
.c5{
    grid-area: c5;
}
.c6{
    grid-area: c6;
}
.c7{
    grid-area: c7;
}
.c8{
    grid-area: c8;
}
.c9{
    grid-area: c9;
}
.c10{
    grid-area: c10;
}
.c11{
    grid-area: c11;
}
.c12{
    grid-area: c12;
}
.c13{
    grid-area: c13;
}
.c14{
    grid-area: c14;
}
.c15{
    grid-area: c15;
}
.c16{
    grid-area: c16;
}
.c17{
    grid-area: c17;
}
.c18{
    grid-area: c18;
}
.c19{
    grid-area: c19;
}
.c20{
    grid-area: c20;
}
.c21{
    grid-area: c21;
}
.c22{
    grid-area: c22;
}
.c23{
    grid-area: c23;
}
.c24{
    grid-area: c24;
}
.c25{
    grid-area: c25;
}
.c26{
    grid-area: c26;
}
.c27{
    grid-area: c27;
}
.c28{
    grid-area: c28;
}
.c29{
    grid-area: c29;
}
.c30{
    grid-area: c30;
}
.c31{
    grid-area: c31;
}
    
   
