.cal-button{
ul{
    li{
       button{
        background-color: var(--punchy);
        color: var(--white);
        padding: 16px 72px 16px 72px;
       }   
       
    }
}
       
        }
       
    
   
