#page-top{


    h2{
        padding-top: 224px;
        text-align: center;
        color: var(--deep-space);
        font-size: rem-calc(48);

        @include md{
            padding-top: 48px;
        }
    }
}

.pt-search{
    grid-area: pt-search;
    margin: 16px 24px 0px 24px ;

    @include xxl{
        margin-right: 72px;
    }

   
    form{
        display: flex;
        justify-content: flex-end;
        border-color: var(--tulip);
        border: 8px;
        border-radius: 25px;
        
        input{
            padding: 8px 40% 8px 8px;
            border-radius: 25px 0px 0px 25px;
            border-color: var(--tulip);
            border-style: solid;

            @include md{
                padding-right: 60%;
            }

            @include lg{
                padding-right: 70%;
            }

            @include xxl{
                padding-right: 75%;
            }
        }   

        }
    }
    button{
        background-color: var(--eggplant);
            color: var(--tulip);
            border: none;
            border-radius: 0px 25px 25px 0px;
            padding: 8px 8px 8px 8px;

    }
.pt-month{
    grid-area: pt-month;
    margin: 16px 24px 16px 24px;

    @include xxl{
        margin-right: 72px;
    }
 

    form{
        display: flex;
        justify-content: flex-end;
        border-color: var(--tulip);
        border: 8px;
        border-radius: 25px;
        
        input{
            padding: 16px 60% 16px 8px;
            border-radius: 25px 0px 0px 25px;
            border-color: var(--tulip);
            border-style: solid;
            color: var(--dark-gray);

            @include md{
                padding-right: 72%;
            }

            @include lg{
                padding-right: 78%;
            }

            @include xxl{
                padding-right: 81%;
            }
        }   
        }
    }
    button{
        background-color: var(--eggplant);
            color: var(--tulip);
            border: none;
            border-radius: 0px 25px 25px 0px;
            padding: 16px 16px 16px 16px;

    }

    .pt-grid{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
        ". pt-search ."
        ". pt-month .";
     

        margin: 36px 24px 16px 24px;

        @include lg{
            margin: 8px 24px 16px 24px; 
        }
    }


    .dis-larg{
        display: none;

        @include lg{
            display: block;

            margin: 48px 0px 0px 10%;
            color: var(--deep-iris);
            font-size: rem-calc(24);
        }
    }