.reimagined{

        margin-top: 72px;
        display: grid;
        
        grid-template-columns: 16px auto auto 16px;
        width: 100%;
        grid-template-areas:
        ". rem-title . ."
        ". map-image . ."
        ". rem-text . .";
    
    @include md{
        grid-template-columns: 16px 10% auto 10% 16px;
        width: 100%;
        grid-template-areas:
        ". . rem-title . ."
        ". . map-image . ."
        ". . rem-text . .";
    }

        @include lg{
            grid-template-columns: 10% auto auto 10%;
            grid-template-areas:
            ". map-image rem-title ."
            ". map-image rem-text .";
        }
    }





.rem-text{
    grid-area: rem-text; 
margin: 24px 0px 24px 0px;

}

.rem-title{
 
        grid-area: rem-title;
text-align: center;
font-size: rem-calc(24);
color: var(--eggplant);
margin-bottom: 24px;
    }

 

  


.map-image{
    grid-area: map-image;
   width: 100%;
   
}