.reimagined{

        margin-top: 72px;
        display: grid;
        
        grid-template-columns: 16px auto auto 16px;
        width: 100%;
        grid-template-areas:
        ". rem-title . ."
        ". map-image . ."
        ". rem-text . .";
    
    @include md{
        grid-template-columns: 16px 10% auto 10% 16px;
        width: 100%;
        grid-template-areas:
        ". . rem-title . ."
        ". . map-image . ."
        ". . rem-text . .";
    }

        @include lg{
            grid-template-columns: 10% 40% 16px auto 10%;
            grid-template-areas:
            ". map-image . rem-title ."
            ". map-image . rem-text .";

            margin-top: 124px;
        }
    }





.rem-text{
    grid-area: rem-text; 
margin: 24px 0px 24px 0px;
font-size: rem-calc(16);
color: var(--eggplant);
line-height: 175%;
text-align: center;


@include lg{
    text-align: left;
    margin-left: 24px;

}

}

.rem-title{
 
        grid-area: rem-title;
text-align: center;
font-size: rem-calc(24);
color: var(--eggplant);
margin-bottom: 24px;

@include lg{
    margin-left: 24px;
}
    }

 

  


.map-image{
    grid-area: map-image;
width: 80%;
   @include lg{
       width: fit-content;
   }
   
   
}