// .search{
//     padding: 40px;
// }

.search-button{

    div{
        button{
            background-color: var(white);
            color: var(--tulip);
            border: none;
            border-radius: 0;
            padding: 12px 12px 12px 12px;
        }
       
    }
}
// }

// .input-format{
//     input{
//         padding: 40px 40px 40px 40px;
//     }
// }

#search{
    form{
        input{
            padding: 16px 30% 16px 8px;
        }
    }
}
