
.search-button{
    // grid-area: search-button;
    // grid-template-columns: 16px 80% 20% 16px;
    // grid-template-areas: 
    // ". search search-button .";
    
    div{
        button{
            background-color: var(white);
            color: var(--tulip);
            border: none;
            border-radius: 0;
            padding: 8px 8px 8px 8px;
        }
       
    }
}
// }

// .input-format{
//     input{
//         padding: 40px 40px 40px 40px;
//     }
// }

#search-header{
    form{
        input{
            margin-left: -30%;
            padding: 8px 30% 8px 8px;
            border: none;
            border-radius: 25px 0px 0px 25px;
        }
    }
    button{
        background-color: var(--eggplant);
            color: var(--tulip);
            border: none;
            border-radius: 0px 25px 25px 0px;
            padding: 8px 8px 8px 8px;

    }
}
