#whats-happening{

    
    h3{
        margin: 72px 0px 36px 24px;
        color: var(--deep-space);
        font-size: rem-calc(36);

        @include md{
            margin: 72px 0px 36px 10%;
        }

    }

    form{
        color: var(--dark-gray);
    }
}

.local-cal2 {
    div {
        grid-area: local-cal2;
        margin: 36px 16px 72px 16px;
        padding: 16px 0px 16px 16px;
        background-color: var(--lavendar);
        border-radius: 50px;
        box-sizing: border-box;
        justify-items: center;
        align-items: center;
        color: var(--deep-iris);
        text-align: left;
        font-size: rem-calc(18);
    
        h4{
            font-weight: 500;
        }

        button{
            font-size: rem-calc(14);
        }

        @include md {
            margin: 24px 56px 0px 56px;
        }

        @include lg {
            margin: 24px 10% 24px 10%;
            padding-right: 16px;
        }

        @include xxl {
            padding: 24px 124px 24px 124px;
        }

        ul {
            li {
                display: grid;
                grid-template-columns: 16px 40% 16px auto auto 16px;
                grid-template-areas:
                    ". e1 . . n1 ."
                    ". e2 . . n2 ."
                    ". e3 . p1 n3 ."
                    ". e4 . . n4 ."
                    ". e5 . . n5 ."
                    ". e6 . p2 n6 .";



                @include md {
                    margin-top: 24px;
                }




            }





            button {
                    background-color: var(--punchy);
                    color: var(--white);
                    border: none;
            
                    padding: 16px;
                    cursor: pointer;
                    transition: .25s;
            
                    &:hover {
                        background-color: var(--blueberry);
                        color: var(--punchy);
                        border-radius: 50px;
                    }
            
                border: none;
                border-radius: 50px;
                margin-bottom: 16px;

                @include lg{
                    margin-bottom: 18px;
                }

            }
        }

    }
}




    // .border-grid2{
    //     div{
    //         margin: 0px;
    //         padding: 24px 16px 24px 16px;
    //      background-color: var(--lavendar);
    //         border-radius: 50px;
    //         box-sizing: border-box;
    //     }

    // }




.e1 {
    grid-area: e1;
    margin-right: 8px;

    @include xxl{
        text-align: center;
    }
}

.e2 {
    grid-area: e2;
    margin-right: 8px;

    @include xxl{
        text-align: center;
    }
}

.e3 {
    grid-area: e3;
    margin-right: 8px;

    @include xxl{
        text-align: center;
    }
}

.e4 {
    grid-area: e4;
    margin-right: 8px;

    @include xxl{
        text-align: center;
    }
}

.e5 {
    grid-area: e5;
    margin-right: 8px;

    @include xxl{
        text-align: center;
    }
}

.e6 {
    grid-area: e6;
    margin-right: 8px;

    @include xxl{
        text-align: center;
    }
}

.n1 {
    grid-area: n1;
    padding: 0px 16px 0px 16px;
}

.n2 {
    grid-area: n2;
}

.n3 {
    grid-area: n3;
}

.n4 {
    grid-area: n4;
}

.n5 {
    grid-area: n5;
}

.n6 {
    grid-area: n6;
}

.p1 {
    grid-area: p1;
    margin-right: 8px;
}

.p2{
    grid-area: p2;
    margin-right: 8px;
}

.pt-month2{
    grid-area: pt-month;
    margin: 16px 8% 16px 24px ;
 
@include lg{
    margin-right: 12%;
}

    form{
        display: flex;
        justify-content: flex-end;
        border-color: var(--tulip);
        border: 8px;
        border-radius: 25px;
        
        input{
            padding: 16px 60% 16px 8px;
            border-radius: 25px 0px 0px 25px;
            border-color: var(--tulip);
            border-style: solid;
            color: var(--dark-gray);

            @include md{
                padding-right: 70%;
            }

            @include lg{
                padding-right: 70%;
            }
        }   
        }
    }
    button{
        background-color: var(--eggplant);
            color: var(--tulip);
            border: none;
            border-radius: 0px 25px 25px 0px;
            padding: 16px 16px 16px 16px;

    }
