/* =============
    Header
============= */
header {

    position: fixed;
    bottom: 100;
    left: 0;


    // @include md {
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     bottom: auto;
    //     left: 0;
    // }

    padding-top: 8px;
    background-color: var(--dark-gray);

    @include md {
        position: relative;
    }

    div {



        @include md {
            display: grid;
            grid-template-rows: auto;
            margin-right: auto;
        }

    }

    section {
        width: 90%;

        h1 {

            @include md {
                display: block;
                font-size: rem-calc(32);
            }

            @include lg {
                font-size: rem-calc(40);
            }
        }
    }



}


.header-grid {
    width: 100%;
    padding: 24px 0px 24px 0px;
    display: grid;
    align-content: center;
    gap: 16px;
    grid-template-columns: 16px 20% 60% 16px;
    grid-template-areas:
        ". header search ."
        ". nav nav .";

    @include md {
        grid-template-columns: 16px 20% 40% 20% 0px;
        grid-template-areas:
            ". header search nav .";
        gap: 36px;
    }
}

// .headline-grid{
//   grid-area: headline-grid
// }

// .search-grid{
// grid-area: search-grid;
// }

// .nav-grid{
//     grid-area: nav-grid;
//     }

.logo {
    display: block;
    padding-left: 16px;

    @include lg {
        display: none;
    }
}

.words {
    display: none;
    padding-left: 16px;

    @include lg {
        display: block;
    }
}


.header {
    grid-area: header;

}

.search {
    grid-area: search;

    form {
        display: flex;
        justify-content: flex-end;
        border: none;
        border-radius: 25px;
    }
}

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-items: center;
    color: var(--poke);
}

.nav-grid {
    display: grid;
    grid-template-columns: 16px 15% 15% 15% 15% 15% 16px;
    gap: 16px;
    align-items: center;
    justify-items: center;
  margin: 0px 10% 0px 10%;
    grid-template-areas:
        ". r1 r2 r3 r4 r5 .";
    
    filter: invert(43%) sepia(69%) saturate(610%) hue-rotate(213deg) brightness(85%) contrast(84%);

    @include md{
        align-items: right;
    justify-items: right;
    padding-right: 42px;
    gap: 24px;
    }


    img {
        width: 6vw;

        @include md{
            width: 3vw;
        }

       @include lg {
            width: 2vw;
        }

    }
}



.r1 {

    grid-area: r1;
    width: 16px;
}


.r2 {

    grid-area: r2;
    width: 16px;
}


.r3 {

    grid-area: r3;
    width: 16px;
}


.r4 {

    grid-area: r4;
    width: 16px;
}


.r5 {

    grid-area: r5;
    width: 16px;
}