/* =============
    Header
============= */
header {

    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;

    // @include md {
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     bottom: auto;
    //     left: 0;
    // }

    padding-bottom: 8px;
    padding-top: 8px;
    background-color: var(--dark-gray);


    div {



        @include md {
            display: grid;
            grid-template-rows: auto;
            margin-right: auto;
        }

    }

    section {
        width: 100%;
        h1 {

            @include md {
                display: block;
                font-size: rem-calc(32);
            }

            @include lg {
                font-size: rem-calc(40);
            }
        }
    }



}


.header-grid {
    width: 100%;
padding: 24px 0px 24px 0px;
    display: grid;
    align-content: center;
    gap: 16px;
    grid-template-columns: 24px 20% 40% 20% 0px;
    grid-template-areas:
        ". header search nav .";

        @include md{
            gap: 36px;
        }
}

// .headline-grid{
//   grid-area: headline-grid
// }

// .search-grid{
// grid-area: search-grid;
// }

// .nav-grid{
//     grid-area: nav-grid;
//     }

.logo {
    display: block;

    @include md {
        display: none;
    }
}

.words {
    display: none;

    @include md {
        display: block;
    }
}


.header {
    grid-area: header;
   
}

.search {
    grid-area: search;
    form{
        display: flex;
        justify-content: flex-end;
        border: none;
        border-radius: 25px;
    }
}

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    color: var(--tulip);
}

.nav-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "r1 r2 r3 r4 r5";
}

.r1{
    
        grid-area: r1;
        width: 16px;
    }
  

.r2{
   
        grid-area: r2;
        width: 16px;
    }
   

.r3{
  
        grid-area: r3;
        width: 16px;
    }
   

.r4{
  
        grid-area: r4;
        width: 16px;
    }
  

.r5{
   
        grid-area: r5;
        width: 16px;
    }
   


