/* =============
    Header
============= */
header {

    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;

    // @include md {
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     bottom: auto;
    //     left: 0;
    // }

    padding-bottom: 8px;
    padding-top: 8px;
    background-color: var(--dark-gray);


    div {



@include md{
    display: grid;
    grid-template-rows: auto;
    margin-right: auto;
}

            }

            section {
                h1 {

                    @include md {
                        display: block;
                        font-size: rem-calc(32);
                    }

                    @include lg {
                        font-size: rem-calc(40);
                    }
                }
            }
        
        
        
        }


        .header-grid{
            width: 100%;

           display: grid;
           align-content: center;
            gap: 16px;
                grid-template-columns: 33% 33% 33%;
                grid-template-areas:
                    "header search nav";
                
        }

        // .headline-grid{
        //   grid-area: headline-grid
        // }

        // .search-grid{
        // grid-area: search-grid;
        // }

        // .nav-grid{
        //     grid-area: nav-grid;
        //     }

        .logo{
display: block;

@include md{
    display: none;
}
        }

        .words{
            display: none;
            
            @include md{
                display: block;
            }
        }


.header{
    grid-area: header;
}

.search{
    grid-area: search;
}

.nav{
    grid-area: nav;
}