/* =============
    Buttons
============= */

.button{
   

    li{
        button{
            margin: auto 24px auto 24px;
            padding: 24px 24px 24px 24px;
            background-color: var(--tulip);
            border: none;
            color: var(--white);
            border-radius: 40px;
            font-size: rem-calc(24);
      
        }
    }

       
           
    }
    

    .post-button{
   
                margin: auto 24px auto 24px;
                padding: 24px 25% 24px 25%;
                background-color: var(--tulip);
                border: none;
                color: var(--white);
                border-radius: 40px;
                font-size: rem-calc(24);
                grid-area: post-button;
          
            }
       